@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

html {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: aliceblue;
  text-align: center;
}

body, ul, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

#header {
  background-image: url("images/banner.jpg");
  background-position: center;
  height: 200px;
}

.title {
  background-color: aliceblue;
  padding: 10px;
  display: inline-block;
}

.title h1 {
  font-size: 3rem;
}

#nav ul {
  text-align: center;
}

#nav ul li {
  background-color: aliceblue;
  padding: 10px;
  margin: auto 10px;
  display: inline-block;
}

.wrapper {
  min-width: 400px;
  max-width: 900px;
  display: inline-block;
  margin: auto 20px;
  text-align: left;
}

.section {
  display: flex;
  padding: 15px;
  margin: 20px;
  background-color: aliceblue;
  filter: drop-shadow(2px 2px 4px #888888);
}

.section img {
  width: 200px;
}

.section:hover {
  background: beige;
}

.desc {
  padding: 20px;
}

.desc h2 {
  font-size: 2rem;
}

.desc h6 {
  margin-bottom: 10px;
  font-size: .75rem;
  font-family: monospace;
}

#footer {
  display: flex;
  padding: 5px;
  background: coral;
}

#footer-spacer {
  flex-grow: 4;
}

#copyright {
  text-align: right;
}
