html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: lightgray;
}

.box {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 25%;
  visibility: hidden;
}

#box-left {
  background-color: cyan;
  left: 0px;
}

#box-center {
  background-color: magenta;
  left: 400px;
}

#box-right {
  background-color: yellow;
  left: 800px;
}
