h1 {
  font-family: 'Comic Sans MS';
}

body {
  background-color: white;
}

video {
  display: none;

  opacity: 1;
  transition: opacity 0.2s linear;
}

@media (max-width: 599px) and (orientation: portrait) {
  body {
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
  }
}

a {
  font-size: 40px;
  position: absolute;
  top: 25%;
  left: 30%;
}

a:visited {
  color: green;
}

a:hover {
  color: red;
}

@media (max-width: 599px) and (orientation: portrait) {
  a {
    font-size: 40px;

  }
}

div {
  height: 800px;

  transition: height 1s;

  width :100%;
  background-color: black;
}
