
.container {
	background-color: beige;
	width: 100%;
	height: 100vh;
}

.inner-container {
	background-color: red;
	width: 80%;
	min-width: 1000px;
	margin: 0 auto;
	height: 90vh;
	min-height: 400px;
	transform: translateY(4vh);
	display: flex;
	justify-content: center;
	align-items: center;
}

.img-side {
	height: 50vh;
	min-height: 300px;
	margin: 0 30px;
}
