html, body{
	margin: 0;
	padding: 0;
	font-family: Arial;
}

#infoBox{
	margin-top: 20px;
	font-size: 32px;
	text-align: center;
}

#video{
	width: 320px;
	height: 240px;
	margin: 10px auto;
}

#animation{
	margin-top: 30px;
}

.greenBox{
	float: left;
	background-color: rgb(125,190,125);
	width: 30px;
	height: 20px;
}

.redBox{
	float: left;
	background-color: rgb(210,125,125);
	width: 100px;
	height: 20px;
}

a{
	color: white;
}
