html{
	height: 100%;
	font-family: 'Helvetica', sans-serif;
}

body{
	height: 100%;
	margin: 0;
}

.video-section{
	display: flex;
	height: 100%;
}

video{
	width: 100%;
	margin: auto;
}

.video-controls{
	position: fixed;
    bottom: 16px;
    width: 100%;
		color: white;
}

.controls{
	font-size: 24px;
	display: block;
	text-align: center;
}

.controls:hover{
	cursor: pointer;
	text-decoration: underline;
	font-style: italic;
}
