body {
	margin: 0;
	padding: 0;
	/*font-family: Arial;*/
	font-family: 'Roboto', sans-serif;
}


.box {
	width: 200px;
	height: 200px;
	/*margin: 10px;*/
}

.boxstick {
	margin: 0px;
}

.blue {
	background-color: blue;
}

/*.green {
	background-color: darkgreen;
	position: absolute;
	top: 0px;
	left: 50px;
}*/

.red {
	background-color: red;
	position: sticky;
	top: 0px;
}

#topsection {
	background-color: gray;
	width: 100%;
	position: relative;
	margin-top: 40px;
}

.orange {
	background-color: orange;
	position: absolute;
	right:0px;
	top: 0px;
}


/*simple layout more below*/

header {
	width: 100%;
	height: 140px;
	background-color: #dddddd;
	position: relative;	
}

.mainLogo {
	width: 100px;
	height: 100px;
	background-color: #222222;
	position: relative;
	top: 15px;
	left: 20px;

}

.mainTitle {
	width: 70%;
	height: 100px;
	background-color: pink;
	position: absolute;
	left: 140px;
	top: 15px;
	margin: 0px;
	font-size: 5em;

}

#logoHolder {
	width: 200px;
	background-color: yellow;
	position: absolute;
	right: 20px;
	top: 15px;

}

.logoBox {
	width: 60px;
	height: 60px;
	background-color: red;
	display: inline-block;

}

/*navigation added*/

nav {
	width: 100%;
	background-color: #335fd3;
	height: 40px;
	position: relative;
}

nav li {
	color: #335fd3;
	background-color: white;
	width: 15%;
	min-width: 150px;
	/*height: 40px;*/
	display: inline-block;
	text-align: center;
	line-height: 40px;
	float: right;
	margin: 0px 15px;
}

nav li:hover {
	background-color: lightgray;
	color: black;
}

.clear {
	clear: both;
}








