
body {
	
}

h1 {
	color: red;
	/*all the other styles go here too*/
	background-color: beige;
}

img {
	width: 400px;
}

p {
}

a {
	display: block;
	color: darkgreen;
	text-decoration: none;
}

a:hover{
	color: pink;
	font-size: 20pt;
}

.makeBlue {
	color: blue;
	background-color: orange;
}

#container {
	width:100%;
	height: 100vh;
	background-color: lawngreen;
}



